<%= "#{@user.username}'s profile" %>
<% if logged_in? && current_user == @user %>
  <%= link_to "Edit Your Profile", edit_user_path(@user)%>
<%end %>

<% @user.articles.each do |article| %>
  <div style = "margin: auto; padding: 2rem; text-align: center">
    <p><strong>Title:</strong> <%= article.title%></p>
    <p><strong>Description:</strong> <%= article.description %></p>
  </div>
<% end %>
